APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_TD=spm

APP_URL=http://127.0.0.1
WP_URL=http://127.0.0.1/cms

DATABASE_NAME=DB_NAME
DATABASE_USER=DB_USER
DATABASE_PASSWORD=DB_PASSWORD
DATABASE_HOST=localhost

MAIL_HOST=your-smtp-host
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS=noreply@themosis.com
MAIL_FROM_NAME=Themosis
